#persons {
	margin-top: 2em;
	border-collapse: collapse;
	table-layout: fixed;
	font-size: 80%;
	width: 100%;
}

#trips .mdl-list__item-primary-content {
	max-width: 65%;
}

#contact {
	padding: 10px;
}

header, .mdl-layout__tab-bar {
	background-color: #03A9F4 !important;
}

.mdl-list__item {
	cursor: pointer;
}

.mdl-list__item:hover, .mdl-list__item:active, .mdl-list__item:focus {
	background-color: #e6e6e6;
}

#trip, #contact, #restaurant, #ferry {
	padding: 5px;
}

.mdl-data-table {
	width: 100% !important;
}


.mdl-data-table tr {
	cursor: pointer;
}

.mdl-data-table td {
	white-space: nowrap;
	max-width: 100%;
}

#peoplePlan .mdl-list__item-avatar, #trips .mdl-list__item-avatar, #restaurants .mdl-list__item-avatar {
	padding: 5px;
	font-size: 30px;
}

.page.visible {
	display: inline-block;
	width: 100% !important;
	display: block !important;
}

#map {
	width: 100%;
	height: calc(100vh - 112px) !important;
}

.page {
	display: none;
	height: 100% !important;
}

.hidden {
	display: none;
}